<% content_for :title do %>About<% end %>
<h1>About Alpha Blog</h1>
<p>
This webpage was created using 'The Complete Ruby on Rails Developer Course' by Mashrur Hossain avaliable
on Udemy.
</p>
<a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/">Check it out</a>

