<div class="jumbotron text-center">
  <h1 style="color:red;">Alpha Blog</h1>
</div>
<%= image_tag 'african-lion.jpg' %>
<div class="container">
  <footer class="row">
    <section class="col-sm-12 col-md-4">
      <%=link_to 'About', about_path %> 
    </section>
    <section class="col-sm-12 col-md-8">
      Be creative.
    </section>
  </footer>
</div>
