<div class="container">
  <footer class="footer">
    <small>
      Learning rails is fun!
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>

